In [1]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [2]:
username = 'root'
password = 'saints2023$$$'
db = 'movies'
connection_str = f'mysql+pymysql://{username}:{password}@localhost/{db}'
engine = create_engine(connection_str)

In [3]:
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

In [4]:
title_basics = pd.read_csv(r'data\title_basics.csv.gz')
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86587 entries, 0 to 86586
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86587 non-null  object
 1   titleType       86587 non-null  object
 2   primaryTitle    86587 non-null  object
 3   originalTitle   86587 non-null  object
 4   isAdult         86587 non-null  int64
 5   startYear       86587 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86587 non-null  int64
 8   genres          86587 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.9+ MB

In [5]:
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]

In [6]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance

In [7]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [8]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [9]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [10]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [11]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161741 entries, 0 to 86586
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   tconst    161741 non-null  object
 1   genre_id  161741 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [12]:
genres = pd.DataFrame({'genre_name': genre_map.keys(),
                             'genre_id': genre_map.values()})

genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()

title_basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [14]:
title_basics.drop(columns=['genres_split','originalTitle','isAdult','titleType','genres'], inplace=True)
title_basics.to_sql('title_basics',engine,dtype=title_basics_schema,if_exists='replace',index=False)
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [15]:
title_ratings = pd.read_csv(r'data\title_ratings.csv.gz')
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497173 entries, 0 to 497172
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         497173 non-null  object
 1   averageRating  497173 non-null  float64
 2   numVotes       497173 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

In [16]:
key_len = title_ratings['tconst'].fillna('').map(len).max()

title_ratings_schema = {
    'tconst': String(key_len+1), 
    'averageRating': Float(),
    'numVotes':Integer()}

In [17]:
title_ratings.to_sql('title_ratings',engine,dtype=title_ratings_schema,if_exists='replace',index=False)

497173

In [18]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [19]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161741 entries, 0 to 86586
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   tconst    161741 non-null  object
 1   genre_id  161741 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [20]:
key_len = title_genres['tconst'].fillna('').map(len).max()

title_genres_schema = {
    'tconst' : String(key_len+1),
    'genre_id' : Integer()}

title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)

161741

In [21]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   genre_name  26 non-null     object
 1   genre_id    26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 544.0+ bytes

In [22]:
key_len = genres['genre_name'].fillna('').map(len).max()

genres_schema = {
    'genre_name' : String(key_len+1),
    'genre_id' : Integer()}

genres.to_sql('genres',engine,dtype=genres_schema,if_exists='replace',index=False)

26

In [23]:
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`genre_name`);')

In [24]:
tmdb_2000 = pd.read_csv(r'data\final_tmdb_data_2000.csv.gz')

tmdb_2001 = pd.read_csv(r'data\final_tmdb_data_2001.csv.gz')

In [26]:
frames = [tmdb_2000, tmdb_2001]
df = pd.concat(frames, ignore_index=True)

tmdb_data = df[['imdb_id', 'revenue', 'budget', 'certification']]

In [27]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562 entries, 0 to 2561
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2562 non-null   object
 1   revenue        2560 non-null   float64
 2   budget         2560 non-null   float64
 3   certification  813 non-null    object
dtypes: float64(2), object(2)
memory usage: 80.2+ KB

In [28]:
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
cert_len = tmdb_data['certification'].fillna('NR').map(len).max()

tmdb_data_schema = {
    'imdb_id' : String(key_len+1),
    'revenue' : Float(),
    'budget' : Float(),
    'certification' : String(cert_len+1)}

tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_schema,if_exists='replace')

2562

In [29]:
q = """SHOW TABLES"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data